@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root{
    --primary-color:#0f3370;
}

body{
    /* background-color: #0b1f42; */
    margin:0 2%;
    font-family: "Roboto", serif;
    font-style: normal;
}

.content{

}

.nav-bar{
    display:flex;
    gap:30px;
    align-items: center;
    background-color:white;
    position:sticky;
    top:0;
    /* border-bottom: 1px solid grey; */
}

.nav-bar-left{
    /* background-color: pink; */
    display:flex;
    /* padding:5px 0; */
}

.nav-bar-left img{
    width:250px;
    height:100px;
}

.searchContainer{
    position:relative;
}

.nav-bar-left input{
    width:37rem;
    height:2.5rem;
    border:1px solid grey;
    outline:none;
    margin:30px 38px 0 40px;
    border-radius: 5px;
    padding:5px;
    position:relative;
}

.searchIconDiv{
    background:var(--primary-color);
    position:absolute;
    width:2.5rem;
    height:2.5rem;
    display:grid;
    place-content: center;
    border-radius: 0 5px 5px 0;
    top:30%;
    left:595px;
}

.searchIcon{
    font-size:1.3rem;
    color:white;
}

.nav-bar-right{
    display:flex;
    /* background-color: green; */
    margin:2rem 0;
    gap:12px;
    align-items: center;
}

.nav-bar-right .bx{
    font-size:1.8rem;
}

.nav-bar-right .bx-cart{
    font-size: 1.95rem;
}

.nav-bar-right .bx-question-mark{
    font-size:1.7rem;
}

.nav-bar-right h4{
    padding-top:0.5rem;
}

.nav-bar-right .bx-chevron-down{
    padding:0.5rem 0 0 0;
}

.accountIcon-Div, .cartIcon-Div, .helpIcon-Div{
    display:flex;
    font-size: 1.2rem;
    gap:4px;
    align-items: center;
}

.accountIcon-Div:hover{
    color:var(--primary-color);
}

.cartIcon-Div:hover{
    color:var(--primary-color);
}

.helpIcon-Div:hover{
    color:var(--primary-color);
}

.categorySection{
    display:flex;
    padding:10px 0 10px 19px;
    /* background-color: pink; */
    gap:25px;
    width:99.3%;
}

.categoryList{
    /* background:var(--primary-color);
    height:auto; */
}

.categoryList ul{
    list-style-type: none;
    color:white;
    height:auto;
    width:15rem;
    padding:10px 7px;
    background:var(--primary-color);
    border-radius: 5px;
}

.categoryList i{
    font-size: 1.3rem;
}

.categoryList li{
    margin-bottom: 0.9rem;
    display:flex;
    gap:5px;
    align-items: center;
}

.categoryList li:hover{
    scale:1.03;
   
}

.categoryList li:last-child{
    margin-bottom: 0;
}

.categoryInfo{
    width:100%;
    /* background-color: red; */
}

.categoryInfo img{
    width:100%;
    height:22.6rem;
    border-radius: 5px;
    /* display:none; */
}

.categoryInfoText{
    /* display:flex; */
    gap:40px;
    /* border:1px solid grey; */
    border-radius: 5px;
    padding:10px;
    display:none;
    
}

.categoryInfoText .header{
    color:rgb(51, 49, 49);
    font-size:1rem;
    border-bottom: 1px solid grey;
    text-transform: uppercase;
    padding-bottom:6px;
}

.categoryInfoText li{
    list-style-type: none;
    padding-top:6px;
    font-size: 0.9rem;
}

.firstSection{
    display:flex;
    flex-direction: column;
    background-color: var(--primary-color);
    margin:25px 8px 19px 19px;
    padding:10px;
    color:white;
}

.firstSection h3{
    font-size: 1.4rem;
}

.firstSection-Products{
    display:flex;
    /* background-color: pink; */
    gap:15px;
    align-items: center;
    padding:10px;
}

.firstSection-Products img{
    width: 12rem;
    height: 12rem;
    object-fit: contain;
}

.product1{
    background-color:var(--primary-color);
}

.product1:hover{
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
    scale:1.02;
}

.product1-info{
    padding:5px 0;
}